@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Comic Sans MS";
  }
}

@layer components {
  .search-input {
    @apply mb-5 block w-60;
  }
}

@layer utilities {
  .grayed-out-disabled {
    @apply disabled:opacity-50;
  }
}

.loading-pane {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 15px;
}

.loader {
  font-size: 100px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.mini.loading-pane {
  height: 34px;
}

.mini .loader {
  font-size: 34px;
}